<h2>{{titulo}}</h2>

<button (click)="cambiarTitulo()"> Cambiar Titulo</button>

  <h3> {{listado}} </h3>
            <ul>
                <li>GTA</li>
                <li>Prince of Persia</li>
                <li>Mario</li>
            </ul>