<h2>{{titulo}}</h2>

<ul>
    <li *ngFor="let zapas of zapatillas">
        <strong>{{zapas.nombre}}</strong> - ${{zapas.precio}}
        <span *ngIf="zapas.precio <= 75" [style.background]="'green'"> - EN OFERTA!</span>
    </li>
    
</ul>

<p>El color de nuestras zapatillas es:</p>
<ul [ngSwitch]="color">
    <li *ngSwitchCase = "'yellow'"> El color predominante es el<span style="background:yellow;">Amarillo.</span></li>
    <li *ngSwitchCase = "'red'"> El color predominante es el   <span style="background:red;">Rojo.</span></li>
    <li *ngSwitchCase = "'blue'"> El color predominante es el  <span style="background:blue;">Azul.</span></li>
</ul>