<div [ngStyle]="{'backroung': config.color}">

  <h1>Bienvenido a {{ title }}!</h1>
  <h2>{{descripcion}}</h2>
  <p>Probando Angular!</p>
</div>

  <!-- <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>

  <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  <videojuego *ngIf="mostrar_videojuegos"></videojuego>

  <cursos></cursos> -->
  <!-- <zapatillas></zapatillas>
  <app-test></app-test>
  <router-outlet></router-outlet>
  <app-test-table></app-test-table> -->
  
  <app-drag-drop-test></app-drag-drop-test>